<%= addControls() %>

<div class="clearfix"></div>

<div class="form-group col-xs-12">
    <div class="form-group col-xs-8">
        <input type="text" class="form-control" id="register-reference-fullname" placeholder="<%= (model.collection.indexOf(model) + 1) %>. Name">
    </div>
    <div class="form-group col-xs-4">
        <input type="text" class="form-control" id="register-reference-relationship" placeholder="Relationship">
    </div>
    <div class="form-group col-xs-6">
        <input type="text" class="form-control" id="register-reference-location" placeholder="City/State">
    </div>
    <div class="form-group col-xs-6">
        <input type="text" class="form-control" id="register-reference-phone" placeholder="Phone Number">
    </div>
</div>