<h3 class="component-title">Lifestyle</h3>
<div class="form-group col-xs-12 col-sm-10 col-sm-offset-2">
    <div>
        <label class="control-label" for="register-lifestyle-learning">Do you have a scheduled learning session?</label>
    </div>
    <div class="radio radio-info radio-inline">
        <input type="radio" name="register-lifestyle-learning" id="register-lifestyle-learning-daily" value="daily">
        <label for="register-lifestyle-learning-yes">Daily</label>
    </div>
    <div class="radio radio-info radio-inline">
        <input type="radio" name="register-lifestyle-learning" id="register-lifestyle-learning-regularly" value="regularly">
        <label for="register-lifestyle-learning-regularly">Regularly</label>
    </div>
    <div class="radio radio-info radio-inline">
        <input type="radio" name="register-lifestyle-learning" id="register-lifestyle-learning-occasionally" value="occasionally">
        <label for="register-lifestyle-learning-occasionally">Occasionally</label>
    </div>
</div>
<div class="form-group col-xs-12 col-sm-10 col-sm-offset-2">
    <div>
        <label class="control-label" for="register-lifestyle-shul">Shul Attendance</label>
    </div>
    <div class="radio radio-info radio-inline col-xs-6 col-sm-0">
        <input type="radio" name="register-lifestyle-shul" id="register-lifestyle-shul-daily" value="daily">
        <label for="register-lifestyle-shul-yes">Daily</label>
    </div>
    <div class="radio radio-info radio-inline no-left-margin col-xs-6 col-sm-0">
        <input type="radio" name="register-lifestyle-shul" id="register-lifestyle-shul-regularly" value="regularly">
        <label for="register-lifestyle-shul-regularly">Shabbos and Holidays</label>
    </div>
    <div class="radio radio-info radio-inline no-left-margin col-xs-6 col-sm-0">
        <input type="radio" name="register-lifestyle-shul" id="register-lifestyle-shul-occasionally" value="occasionally">
        <label for="register-lifestyle-shul-occasionally">High Holidays</label>
    </div>
    <div class="radio radio-info radio-inline no-left-margin col-xs-6 col-sm-0">
        <input type="radio" name="register-lifestyle-shul" id="register-lifestyle-shul-other" value="other">
        <label for="register-lifestyle-shul-other">Other:</label>
    </div>
    <div class="no-left-padding toggle-shul-other">
        <input type="text" class="form-control" id="register-lifestyle-shul-other-desc" placeholder="Please, specify">
    </div>
</div>

<div class="form-group col-xs-12 col-sm-10 col-sm-offset-2">
    <label class="control-label" for="register-lifestyle-kashrus">Current Kashrus</label>
    <div>
        <div class="radio radio-inline ">
            <input type="radio" class="radio radio-info" name="register-lifestyle-kashrus" id="registerreligious-kashrus-always">
            <label for="register-lifestyle-kashrus-always">Always</label>
        </div>
        <div class="radio radio-inline">
            <input type="radio" class="radio radio-info" name="register-lifestyle-kashrus" id="register-lifestyle-kashrus-mostly">
            <label for="register-lifestyle-kashrus-mostly">Mostly</label>
        </div>
        <div class="radio radio-inline">
            <input type="radio" class="radio radio-info" name="register-lifestyle-kashrus" id="register-lifestyle-kashrus-none">
            <label for="register-lifestyle-kashrus-none">None</label>
        </div>
    </div>
</div>
<div class="form-group col-xs-12 col-sm-10 col-sm-offset-2">
    <label class="control-label" for="register-lifestyle-dress">Mode of Dress</label>
    <div>
        <div class="radio radio-inline ">
            <input type="radio" class="radio radio-info" name="register-lifestyle-dress-skirt" id="register-lifestyle-dress-skirts">
            <label for="register-lifestyle-dress-skirts">Skirt only</label>
        </div>
        <div class="radio radio-inline">
            <input type="radio" class="radio radio-info" name="register-lifestyle-dress-skirt" id="register-lifestyle-dress-pants">
            <label for="register-lifestyle-dress-pants">Will wear pants</label>
        </div>
    </div>
    <div>
        <div class="radio radio-inline">
            <input type="radio" class="radio radio-info" name="register-lifestyle-dress-sleeve" id="register-lifestyle-dress-elbows">
            <label for="register-lifestyle-dress-elbows">Elbows covered</label>
        </div>
        <div class="radio radio-inline">
            <input type="radio" class="radio radio-info" name="register-lifestyle-dress-sleeve" id="register-lifestyle-dress-ssleeve">
            <label for="register-lifestyle-dress-ssleeve">Short sleeves</label>
        </div>
    </div>
</div>
<div class="form-group col-xs-12 col-sm-10 col-sm-offset-2">
    <label class="control-label" for="register-lifestyle-hair">Hair Covering When Married</label>
    <div>
        <div class="radio radio-inline ">
            <input type="radio" class="radio radio-info" name="register-lifestyle-hair" id="register-lifestyle-hair-wig">
            <label for="register-lifestyle-hair-wig">Fully with wig</label>
        </div>
        <div class="radio radio-inline">
            <input type="radio" class="radio radio-info" name="register-lifestyle-hair" id="register-lifestyle-hair-scarf">
            <label for="register-lifestyle-hair-scarf">Scarves</label>
        </div>
        <div class="radio radio-inline">
            <input type="radio" class="radio radio-info" name="register-lifestyle-hair" id="register-lifestyle-hair-none">
            <label for="register-lifestyle-hair-none">None</label>
        </div>
    </div>
</div>
