<%= addControls() %>

<div class="clearfix"></div>

<div class="col-xs-12 col-sm-10 col-sm-offset-2">
    <div class="row">
        <div class="form-group col-xs-7">
            <label class="control-label" for="register-personal-birthday">Birthday</label>
            <input type="date" class="form-control" id="register-personal-birthday">
        </div>
        <div class="form-group col-xs-5">
            <div class="col-xs-5 align-bottom no-right-padding">
                <label for="register-personal-height">Height</label>
                <select class="form-control" id="register-personal-height-feet" value="5">
                    <option>2</option>
                    <option>3</option>
                    <option>4</option>
                    <option>5</option>
                    <option>6</option>
                    <option>7</option>
                </select>
            </div>
            <div class="col-xs-5 align-bottom no-right-padding">
                <select class="form-control" id="register-personal-height-inches" value="5">
                    <option>1"</option>
                    <option>2"</option>
                    <option>3"</option>
                    <option>4"</option>
                    <option>5"</option>
                    <option>6"</option>
                    <option>7"</option>
                    <option>8"</option>
                    <option>9"</option>
                    <option>10"</option>
                    <option>11"</option>
                    <option>12"</option>
                </select>
            </div>
        </div>
    </div>
</div>
<div class="form-group col-xs-12 col-sm-10 col-sm-offset-2">
    <div>
        <label class="control-label" for="register-personal-build">Build</label>
    </div>
    <div class="radio radio-info radio-inline">
        <input type="radio" name="register-build" id="register-personal-build-slim" value="slim">
        <label for="register-personal-build-slim">Slim</label>
    </div>
    <div class="radio radio-info radio-inline">
        <input type="radio" name="register-build" id="register-personal-build-average" value="average">
        <label for="register-personal-build-average">Average</label>
    </div>
    <div class="radio radio-info radio-inline">
        <input type="radio" name="register-build" id="register-personal-build-heavy" value="heavy">
        <label for="register-personal-build-heavy">Somewhat overweight</label>
    </div>
</div>
<div class="form-group col-xs-12 col-sm-10 col-sm-offset-2">
    <div class="form-group col-xs-6 col-sm-4 col-md-4 col-lg-3 row">
        <div>
            <label class="control-label" for="register-personal-martialstatus">Marital Status</label>
        </div>
        <select id="register-personal-martialstatus" class="form-control">
            <option value="single">Single</option>
            <option value="divorced">Divorced</option>
            <option value="widowed">Widowed</option>
        </select>
    </div>
</div>
<div class="form-group col-xs-12 col-sm-10 col-sm-offset-2">
    <label class="control-label" for="register-personal-children">Do You Have Children?</label>
    <div class="row">
        <div class="form-group col-xs-4">
            <div class="radio radio-info radio-inline">
                <input type="radio" name="register-personal-children" id="register-personal-children-yes" value="true">
                <label for="register-personal-children-yes">Yes</label>
            </div>
            <div class="radio radio-info radio-inline">
                <input type="radio" name="register-personal-children" id="register-personal-children-no" value="false">
                <label for="register-personal-children-no">No</label>
            </div>
        </div>
        <div class="col-xs-3 toggle-children">
            <input type="text" id="register-personal-children-number" class="form-control" placeholder="How many?">
        </div>
    </div>
</div>
<div class="form-group col-xs-12 col-sm-10 col-sm-offset-2">
    <label class="control-label" for="register-personal-pet">Pet Owner</label>
    <div>
        <div class="radio radio-info radio-inline">
            <input type="radio" name="register-personal-pet" id="register-personal-pet-yes" value="true">
            <label for="register-personal-pet-yes">Yes</label>
        </div>
        <div class="radio radio-info radio-inline">
            <input type="radio" name="register-personal-pet" id="register-personal-pet-no" value="false">
            <label for="register-personal-pet-no">No</label>
        </div>
    </div>
</div>
<div class="form-group col-xs-12 col-sm-10 col-sm-offset-2">
    <label class="control-label" for="register-personal-smoker">Smoker</label>
    <div>
        <div class="radio radio-info radio-inline">
            <input type="radio" name="register-personal-smoker" id="register-personal-smoker-yes" value="true">
            <label for="register-personal-smoker-yes">Yes</label>
        </div>
        <div class="radio radio-info radio-inline">
            <input type="radio" name="register-personal-smoker" id="register-personal-smoker-no" value="false">
            <label for="register-personal-smoker-no">No</label>
        </div>
    </div>
</div>
