<h3>Education and Occupation</h3>
<div class="col-xs-12 col-sm-10 col-sm-offset-2">
    <label class="control-label" for="register-education-hebrew">Highest Hebrew Education</label>
    <div class="radio radio-info">
        <input type="radio" class="radio" name="register-education-hebrew" id="register-education-hebrew-hschool" value="school">
        <label for="register-education-hebrew-hschool">Hebrew School</label>
    </div>
    <div class="radio radio-info">
        <input type="radio" class="radio radio-inline" name="register-education-hebrew" id="register-education-hebrew-jdschool" value="day-school">
        <label for="register-education-hebrew-jdschool">Jewish Day School</label>
    </div>
    <div class="radio radio-info">
        <input type="radio" class="radio radio-inline" name="register-education-hebrew" id="register-education-hebrew-yhschool" value="high-school">
        <label for="register-education-hebrew-yhschool">Yeshiva High School</label>
    </div>
    <div class="radio radio-info no-top-margin">
        <input type="radio" class="radio" name="register-education-hebrew" id="register-education-hebrew-yeshsemi" value="yeshiva">
        <label for="register-education-hebrew-yeshsemi">Post High School Yeshiva/Seminary</label>
    </div>
    <div class="row">
        <div class="col-sm-6 toggle-yeshiva">
            <input type="text" class="form-control" id="register-education-hebrew-yeshsemi-principal" placeholder="Rosh Yeshiva/Menahales">
        </div>
        <div class="col-sm-6 toggle-yeshiva">
            <input type="text" class="form-control" id="register-education-hebrew-yeshsemi-location" placeholder="Location">
        </div>
    </div>
    <div class="checkbox checkbox-info col-sm-4 col-md-3 no-top-margin">
        <input type="checkbox" class="checkbox checkbox-info checkbox-inline" name="register-education-hebrew-israel" id="register-education-hebrew-israel">
        <label for="register-education-hebrew-israel">Study in Israel</label>
    </div>
    <div class="col-sm-3 toggle-israel-study">
        <input type="text" class="form-control" id="register-education-hebrew-israel-duration" placeholder="How long?">
    </div>
</div>
<div class="col-xs-12 col-sm-10 col-sm-offset-2">
    <label class="control-label" for="register-education-secular">Highest Secular Education</label>
    <div class="radio radio-info">
        <input type="radio" class="radio" name="register-education-secular" id="register-education-secular-hschool" value="high-school">
        <label for="register-education-secular-hschool">High School</label>
    </div>
    <div class="radio radio-info">
        <input type="radio" class="radio" name="register-education-secular" id="register-education-secular-vocational" value="vocational">
        <label for="register-education-secular-vocational">Vocational Training/Associates Degree</label>
    </div>
    <div class="radio radio-info">
        <input type="radio" class="radio" name="register-education-secular" id="register-education-secular-bachelors" value="bachelors">
        <label for="register-education-secular-bachelors">Bachelors</label>
    </div>
    <div class="row">
        <div class="col-sm-6 toggle-bachelors">
            <input type="text" class="form-control" id="register-education-secular-bachelors-name" placeholder="Name of graduating institution">
        </div>
        <div class="col-sm-6 toggle-bachelors">
            <input type="text" class="form-control" id="register-education-secular-bachelors-degree" placeholder="Degree">
        </div>
    </div>
    <div class="radio radio-info no-top-margin">
        <input type="radio" class="radio" name="register-education-secular" id="register-education-secular-masters" value="masters">
        <label for="register-education-secular-masters">Masters</label>
    </div>
    <div class="row">
        <div class="col-sm-6 toggle-masters">
            <input type="text" class="form-control" id="register-education-secular-masters-name" placeholder="Name of graduating institution">
        </div>
        <div class="col-sm-6 toggle-masters">
            <input type="text" class="form-control" id="register-education-secular-masters-degree" placeholder="Degree">
        </div>
    </div>
    <div class="radio radio-info no-top-margin">
        <input type="radio" class="radio" name="register-education-secular" id="register-education-secular-doctorate" value="doctorate">
        <label for="register-education-secular-doctorate">Doctorate</label>
    </div>
    <div class="row">
        <div class="col-sm-6 toggle-doctorate">
            <input type="text" class="form-control" id="register-education-secular-doctorate-name" placeholder="Name of graduating institution">
        </div>
        <div class="col-sm-6 toggle-doctorate">
            <input type="text" class="form-control" id="register-education-secular-doctorate-degree" placeholder="Degree">
        </div>
    </div>
</div>
<div class="col-xs-12 col-sm-10 col-sm-offset-2">
    <label class="control-label" for="register-occupation">Occupation</label>
    <div class="checkbox checkbox-info">
        <input type="checkbox" class="checkbox" name="register-occupation" id="register-occupation-working" value="working">
        <label for="register-occupation-working">Working</label>
    </div>
    <div class="row">
        <div class="col-sm-6 toggle-working">
            <input type="text" class="form-control" id="register-occupation-working-firm" placeholder="Company Name">
        </div>
        <div class="col-sm-6 toggle-working">
            <input type="text" class="form-control" id="register-occupation-working-title" placeholder="Job Title">
        </div>
    </div>
    <div class="checkbox checkbox-info no-top-margin">
        <input type="checkbox" class="checkbox" name="register-occupation" id="register-occupation-seeking" value="seeking">
        <label for="register-occupation-seeking">Seeking employment</label>
    </div>
    <div class="checkbox checkbox-info">
        <input type="checkbox" class="checkbox" name="register-occupation" id="register-occupation-yeshiva" value="yeshiva">
        <label for="register-occupation-yeshiva">Yeshiva student</label>
    </div>
    <div class="checkbox checkbox-info">
        <input type="checkbox" class="checkbox" name="register-occupation" id="register-occupation-college" value="college">
        <label for="register-occupation-college">Attending college</label>
    </div>
    <div class="checkbox checkbox-info">
        <input type="checkbox" class="checkbox" name="register-occupation" id="register-occupation-other" value="other">
        <label for="register-occupation-other">Other:</label>
    </div>
    <div class="row">
        <div class="col-sm-12 toggle-other-occupation">
            <input type="text" class="form-control" id="register-occupation-other-describe" placeholder="Please describe your current situation">
        </div>
    </div>
</div>
