<div class="view animated fadeOut" id="apply-registration"></div>
<div class="view animated fadeOut" id="apply-demographics"></div>
<div class="view animated fadeOut" id="apply-background"></div>
<div class="view animated fadeOut" id="apply-essays"></div>
<div class="view animated fadeOut" id="apply-lifestyle"></div>
<div class="view animated fadeOut" id="apply-occupation"></div>
<div class="view animated fadeOut" id="apply-personal"></div>
<div class="view animated fadeOut" id="apply-references"></div>
<div class="view animated fadeOut" id="apply-spouse"></div>

<div class="clearfix"></div>

<div class="col-sm-offset-1">
    <ol class="progress-meter">
        <li id="meter-demographics" class="active incomplete">Demographics</li>
        <li id="meter-background" class="incomplete active">Background</li>
        <li id="meter-lifestyle" class="complete">Lifestyle</li>
        <li id="meter-occupation" class="complete">Occupation</li>
        <li id="meter-personal" class="complete">Personal</li>
        <li id="meter-essays" class="incomplete">Essays</li>
        <li id="meter-spouse" class="incomplete">Spouse</li>
        <li id="meter-references" class="incomplete">References</li>
    </ol>
</div>