<h3>Background</h3>
<div class="form-group col-xs-2">
    <div>
        <label class="control-label" for="register-background-jfb">Born Jewish</label>
    </div>
    <div class="radio radio-info radio-inline">
        <input type="radio" name="register-background-jfb" id="register-background-jfb-yes" value="true">
        <label for="register-background-jfb-yes">Yes</label>
    </div>
    <div class="radio radio-info radio-inline">
        <input type="radio" name="register-background-jfb" id="register-background-jfb-no" value="false">
        <label for="register-background-jfb-no">No</label>
    </div>
</div>
<div class="form-group col-xs-10">
    <label class="control-label" for="register-background-conversion">Conversion Information</label>
    <input type="text" class="form-control" id="register-background-conversion" placeholder="Please provide the name of the Rabbi, Beis Din and date of conversion">
</div>
<div>
    <div class="form-group col-xs-4 no-right-padding align-bottom">
        <label class="control-label" for="register-background-time">Religious Background</label>
        <div>
            <div class="radio radio-info radio-inline">
                <input type="radio" name="register-background-bt" id="register-background-time-ffb" value="false">
                <label for="register-background-time-ffb">Frum from birth</label>
            </div>
            <div class="radio radio-info radio-inline">
                <input type="radio" name="register-background-bt" id="register-background-time-bt" value="true">
                <label for="register-background-time-bt">Baal Teshuva</label>
            </div>
        </div>
    </div>
    <div class="col-xs-3 align-bottom">
        <input type="text" class="form-control" id="register-background-bt-years" placeholder="From from what year?">
    </div>
</div>
<div class="form-group col-xs-4">
    <div>
        <label class="control-label" for="register-background-ethnicity">Ethnicity</label>
    </div>
    <select id="register-background-ethnicity" class="selectpicker">
        <option value="ashkenaz">Ashkenaz</option>
        <option value="sephardi">Sephardi</option>
        <option value="teimani">Teimani</option>
    </select>
</div>
<div class="form-group col-xs-4">
    <div>
        <label class="control-label" for="register-background-observance">Style of Observance</label>
    </div>
    <select id="register-background-observance" class="selectpicker">
        <option value="blackhat">Yeshivish Black Hat</option>
        <option value="chassidish">Chassidish</option>
        <option value="modern">Yeshivish Modern</option>
        <option value="liberal">Modern Orthodox Liberal</option>
        <option value="tranditional">Traditional and Growing</option>
    </select>
</div>
<div class="form-group col-xs-4">
    <div>
        <label class="control-label" for="register-background-kohen">Kohen</label>
    </div>
    <div class="radio radio-info radio-inline">
        <input type="radio" name="register-background-kohen" id="register-background-kohen-yes" value="true">
        <label for="register-background-kohen-yes">I am a Kohen</label>
    </div>
    <div class="radio radio-info radio-inline">
        <input type="radio" name="register-background-kohen" id="register-background-kohen-bt" value="false">
        <label for="register-background-kohen-no">I am not</label>
    </div>
</div>
<div class="form-group col-xs-12">
    <div>
        <label class="control-label" for="register-background-marrykohen">Can you marry a Kohen?</label>
    </div>
    <div class="radio radio-info radio-inline">
        <input type="radio" name="register-background-marrykohen" id="register-background-marrykohen-yes" value="true">
        <label for="register-background-marrykohen-yes">Yes</label>
    </div>
    <div class="radio radio-info radio-inline">
        <input type="radio" name="register-background-marrykohen" id="register-background-marrykohen-no" value="false">
        <label for="register-background-marrykohen-no">No</label>
    </div>
</div>
