<div id="apply-views">
    <div class="view animated fadeOut" id="apply-start"></div>
    <div class="view animated fadeOut" id="apply-registration"></div>
    <div class="view animated fadeOut" id="apply-demographics"></div>
    <div class="view animated fadeOut" id="apply-background"></div>
    <div class="view animated fadeOut" id="apply-essays"></div>
    <div class="view animated fadeOut" id="apply-lifestyle"></div>
    <div class="view animated fadeOut" id="apply-occupation"></div>
    <div class="view animated fadeOut" id="apply-personal"></div>
    <div class="view animated fadeOut" id="apply-reference"></div>
    <div class="view animated fadeOut" id="apply-spouse"></div>
    <div class="view animated fadeOut" id="apply-edit"></div>
</div>
<div class="clearfix"></div>

<div class="progress-meter-container">
    <ol class="progress-meter">
        <li id="meter-demographics" class="incomplete"><span>Demographics</span></li>
        <li id="meter-background" class="incomplete"><span>Background</span></li>
        <li id="meter-lifestyle" class="incomplete"><span>Lifestyle</span></li>
        <li id="meter-occupation" class="incomplete"><span>Occupation</span></li>
        <li id="meter-personal" class="incomplete"><span>Personal</span></li>
        <li id="meter-essays" class="incomplete"><span>Essays</span></li>
        <li id="meter-spouse" class="incomplete"><span>Spouse</span></li>
        <li id="meter-reference" class="incomplete"><span>Reference</span></li>
    </ol>
</div>