<h4>First let's get you registered</h4>
<h6>or Log in</h6>

<div class="col-xs-4 col-xs-offset-4">
    <div class="well well-lg">
        <div class="form-group">
            <label for="register-form-email">
                Email address
            </label>
                <input type="email" id="register-form-email" name="register-form-email" class="form-control" placeholder="Email" data-hook="email" />
        </div>
        <div class="form-group">
            <label for="register-form-password">
                Password
            </label>
            <input type="password" id="register-form-password" name="register-form-password" class="form-control" placeholder="Password"/>
            <label for="register-form-repassword">
                Confirm password
            </label>
            <input type="password" id="register-form-repassword" name="register-form-repassword" class="form-control" placeholder="Password"/>
        </div>
        <button type="submit" id="register-form-submit" name="register-form-submit" class="btn btn-default">Submit</button>
    </div>
</div>
