<%= addControls() %>

<div class="clearfix"></div>

<div class="form-group col-xs-12 col-sm-10 col-sm-offset-2">
    <div>
        <label class="control-label" for="learnfrequency">Do you have a scheduled learning session?</label>
    </div>
    <div class="radio radio-info radio-inline">
        <input type="radio" name="learnfrequency" id="register-lifestyle-learning-daily" value="daily">
        <label for="register-lifestyle-learning-daily">Every day</label>
    </div>
    <div class="radio radio-info radio-inline">
        <input type="radio" name="learnfrequency" id="register-lifestyle-learning-regularly" value="regularly">
        <label for="register-lifestyle-learning-regularly">A few times a week</label>
    </div>
    <div class="radio radio-info radio-inline">
        <input type="radio" name="learnfrequency" id="register-lifestyle-learning-occasionally" value="occasionally">
        <label for="register-lifestyle-learning-occasionally">Occasionally</label>
    </div>
</div>
<div class="form-group col-xs-12 col-sm-10 col-sm-offset-2">
    <div>
        <label class="control-label" for="shulfrequency">Shul Attendance</label>
    </div>
    <div class="radio radio-info radio-inline col-xs-6 col-sm-0">
        <input type="radio" name="shulfrequency" id="register-lifestyle-shul-daily" value="daily">
        <label for="register-lifestyle-shul-daily">Daily</label>
    </div>
    <div class="radio radio-info radio-inline no-left-margin col-xs-6 col-sm-0">
        <input type="radio" name="shulfrequency" id="register-lifestyle-shul-regularly" value="regularly">
        <label for="register-lifestyle-shul-regularly">Shabbos and Holidays</label>
    </div>
    <div class="radio radio-info radio-inline no-left-margin col-xs-6 col-sm-0">
        <input type="radio" name="shulfrequency" id="register-lifestyle-shul-occasionally" value="occasionally">
        <label for="register-lifestyle-shul-occasionally">High Holidays</label>
    </div>
    <div class="radio radio-info radio-inline no-left-margin col-xs-6 col-sm-0">
        <input type="radio" name="shulfrequency" id="register-lifestyle-shul-other" value="other">
        <label for="register-lifestyle-shul-other">Other:</label>
    </div>
    <div class="no-left-padding toggle-shul-other">
        <input type="text" class="form-control" id="register-lifestyle-shul-other-desc" placeholder="Please, specify">
    </div>
</div>

<div class="form-group col-xs-12 col-sm-10 col-sm-offset-2">
    <label class="control-label" for="kashrus">Current Kashrus</label>
    <div>
        <div class="radio radio-info radio-inline ">
            <input type="radio" class="radio radio-info" name="kashrus" id="registerreligious-kashrus-always" value="always">
            <label for="register-lifestyle-kashrus-always">Always</label>
        </div>
        <div class="radio radio-info radio-inline">
            <input type="radio" class="radio radio-info" name="kashrus" id="register-lifestyle-kashrus-mostly" value="mostly">
            <label for="register-lifestyle-kashrus-mostly">Mostly</label>
        </div>
        <div class="radio radio-info radio-inline">
            <input type="radio" class="radio radio-info" name="kashrus" id="register-lifestyle-kashrus-none" value="none">
            <label for="register-lifestyle-kashrus-none">None</label>
        </div>
    </div>
</div>
<div class="form-group col-xs-12 col-sm-10 col-sm-offset-2 female">
    <label class="control-label" for="dresscode">Mode of Dress</label>
    <div>
        <div class="radio radio-info radio-inline ">
            <input type="radio" class="radio radio-info" name="skirtlength" id="register-lifestyle-dress-skirts" value="">
            <label for="register-lifestyle-dress-skirts">Skirt only</label>
        </div>
        <div class="radio radio-info radio-inline">
            <input type="radio" class="radio radio-info" name="skirtlength" id="register-lifestyle-dress-pants" value="Will wear pants">
            <label for="register-lifestyle-dress-pants">Will wear pants</label>
        </div>
    </div>
    <div>
        <div class="radio radio-info radio-inline">
            <input type="radio" class="radio radio-info" name="sleevelength" id="register-lifestyle-dress-elbows" value="Elbows covered">
            <label for="register-lifestyle-dress-elbows">Elbows covered</label>
        </div>
        <div class="radio radio-info radio-inline">
            <input type="radio" class="radio radio-info" name="sleevelength" id="register-lifestyle-dress-ssleeve" value="Short sleeves">
            <label for="register-lifestyle-dress-ssleeve">Short sleeves</label>
        </div>
    </div>
</div>
<div class="form-group col-xs-12 col-sm-10 col-sm-offset-2 female">
    <label class="control-label" for="haircovering">Hair Covering When Married</label>
    <div>
        <div class="radio radio-info radio-inline ">
            <input type="radio" class="radio radio-info" name="haircovering" id="register-lifestyle-hair-wig">
            <label for="register-lifestyle-hair-wig">Fully with wig</label>
        </div>
        <div class="radio radio-info radio-inline">
            <input type="radio" class="radio radio-info" name="haircovering" id="register-lifestyle-hair-scarf">
            <label for="register-lifestyle-hair-scarf">Scarves</label>
        </div>
        <div class="radio radio-inline">
            <input type="radio" class="radio radio-info" name="haircovering" id="register-lifestyle-hair-none">
            <label for="register-lifestyle-hair-none">None</label>
        </div>
    </div>
</div>
