<h3>More About Me</h3>
<div class="col-xs-12 align-bottom">
    <textarea cols="50" class="form-control" id="register-essays-character" placeholder="Give a conscise description of yourself."></textarea>
</div>
<div class="col-xs-12 align-bottom">
    <textarea cols="50" class="form-control" id="register-essays-specialinterests" placeholder="How do you like to spend your free time/vacation? Do you have any hobbies/special interests?"></textarea>
</div>
<div class="col-xs-12 align-bottom">
    <textarea cols="50" class="form-control" id="register-essays-spouse-character" placeholder="Describe what you're looking for in a spouse.'"></textarea>
</div>
