<<!DOCTYPE html>
<html lang="en" class="page">
<head>
    <title>@ViewBag.Title</title>
    <meta charset="utf-8">
    
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta name="description" content="FSI was conceived to help orthodox Florida singles find a match" />

    @RenderSection("styles")
</head>
<!--<body class="body container-fluid no-gutter" data-spy="scroll" data-target="#menu-nav">-->
<body class="body container-fluid no-gutter">
    @RenderBody()
</body>

@RenderSection("scripts")
</html>
