<h3 class="component-title inline">
    Edit your profile
</h3>

<div>
    <progress data-hook="demographics-progress" value="0" max="1"></progress>
    <h4>Demographics <i class="fa fa-caret-down"></i><i class="fa fa-caret-up"></i></h4>
    <div class="region-display" data-region="demographics"></div>

    <progress data-hook="background-progress" value="0" max="1"></progress>
    <h4>Background <i class="fa fa-caret-down"></i><i class="fa fa-caret-up"></i></h4>
    <div class="region-display" data-region="background"></div>

    <progress data-hook="lifestyle-progress" value="0" max="1"></progress>
    <h4>Lifestyle <i class="fa fa-caret-down"></i><i class="fa fa-caret-up"></i></h4>
    <div class="region-display" data-region="lifestyle"></div>

    <progress data-hook="occupation-progress" value="0" max="1"></progress>
    <h4>Occupation <i class="fa fa-caret-down"></i><i class="fa fa-caret-up"></i></h4>
    <div class="region-display" data-region="occupation"></div>

    <progress data-hook="personal-progress" value="0" max="1"></progress>
    <h4>Personal <i class="fa fa-caret-down"></i><i class="fa fa-caret-up"></i></h4>
    <div class="region-display" data-region="personal"></div>

    <progress data-hook="essays-progress" value="0" max="1"></progress>
    <h4>Essays <i class="fa fa-caret-down"></i><i class="fa fa-caret-up"></i></h4>
    <div class="region-display" data-region="essays"></div>

    <progress data-hook="spouse-progress" value="0" max="1"></progress>
    <h4>Spouse <i class="fa fa-caret-down"></i><i class="fa fa-caret-up"></i></h4>
    <div class="region-display" data-region="spouse"></div>

    <progress data-hook="reference-progress" value="0" max="1"></progress>
    <h4>References <i class="fa fa-caret-down"></i><i class="fa fa-caret-up"></i></h4>
    <div class="region-display" data-region="reference"></div>
</div>