<h3 class="component-title inline">
    Edit your profile
</h3>

<h4>Demographics <i class="fa fa-caret-down"></i><i class="fa fa-caret-up"></i></h4>
<div class="region-display" data-region="demographics"></div>
<h4>Background <i class="fa fa-caret-down"></i><i class="fa fa-caret-up"></i></h4>
<div class="region-display" data-region="background"></div>
<h4>Lifestyle <i class="fa fa-caret-down"></i><i class="fa fa-caret-up"></i></h4>
<div class="region-display" data-region="lifestyle"></div>
<h4>Occupation <i class="fa fa-caret-down"></i><i class="fa fa-caret-up"></i></h4>
<div class="region-display" data-region="occupation"></div>
<h4>Personal <i class="fa fa-caret-down"></i><i class="fa fa-caret-up"></i></h4>
<div class="region-display" data-region="personal"></div>
<h4>Essays <i class="fa fa-caret-down"></i><i class="fa fa-caret-up"></i></h4>
<div class="region-display" data-region="essays"></div>
<h4>Spouse <i class="fa fa-caret-down"></i><i class="fa fa-caret-up"></i></h4>
<div class="region-display" data-region="spouse"></div>
<h4>References <i class="fa fa-caret-down"></i><i class="fa fa-caret-up"></i></h4>
<div class="region-display" data-region="references"></div>
