<h2 class="component-title inline">Start your profile</h2>


<p>to match you with other singles in our database, please fill out the form. Only your demographics are strictly required. However, the more information we have about you the better we'll be able to provide you with a match. </p>

<p>Once you complete all the fields you can log back in at any time to update your profile.</p>

<p>Thank you for choosing the Florida Shidduch Initiative.</p>

<p><a role="button" tabindex="-1" data-hook="get-started">Let's get started! <i class="fa fa-arrow-right"></i></a></p>
