/* GENERAL */
/* EXTENDS BOOTSTRAP */
/* Section Sizes */
/* line 5, C:/Users/Gary/Google Drive/Development/Websites/FloridaShiduch/FloridaShiduch/Content/Sass/site/progress-tracker.scss */
.progress-meter-container {
  text-align: center !important;
}

/* line 8, C:/Users/Gary/Google Drive/Development/Websites/FloridaShiduch/FloridaShiduch/Content/Sass/site/progress-tracker.scss */
.progress-meter-container .progress-meter {
  padding: 0;
}

/* line 12, C:/Users/Gary/Google Drive/Development/Websites/FloridaShiduch/FloridaShiduch/Content/Sass/site/progress-tracker.scss */
.progress-meter-container ol.progress-meter {
  margin-top: 2rem;
  padding-bottom: 9.5px;
  list-style-type: none;
  width: 90%;
}

@media (max-width: 400px) {
  /* line 12, C:/Users/Gary/Google Drive/Development/Websites/FloridaShiduch/FloridaShiduch/Content/Sass/site/progress-tracker.scss */
  .progress-meter-container ol.progress-meter {
    width: 87%;
  }
}

/* line 22, C:/Users/Gary/Google Drive/Development/Websites/FloridaShiduch/FloridaShiduch/Content/Sass/site/progress-tracker.scss */
.progress-meter-container ol.progress-meter li {
  display: inline-block;
  font-size: .598rem;
  text-align: center;
  height: 36px;
  width: 11.9%;
  font-size: 0.68rem;
  font-weight: bold;
  border-bottom-width: 4px;
  border-bottom-style: solid;
  color: #337ab7;
  border-bottom-color: #337ab7;
  cursor: pointer;
  /*@include breakpoint($break-medium) {
            font-size: $font-size-small * 0.78;
        }

        @include breakpoint($break-small) {
            font-size: $font-size-small * 0.7;
        }*/
}

@media (max-width: 400px) {
  /* line 22, C:/Users/Gary/Google Drive/Development/Websites/FloridaShiduch/FloridaShiduch/Content/Sass/site/progress-tracker.scss */
  .progress-meter-container ol.progress-meter li {
    width: 10.9%;
    font-size: 0.4675rem;
    vertical-align: text-bottom;
  }
}

/* line 48, C:/Users/Gary/Google Drive/Development/Websites/FloridaShiduch/FloridaShiduch/Content/Sass/site/progress-tracker.scss */
.progress-meter-container ol.progress-meter li:before {
  position: relative;
  float: right;
  text-indent: 0;
  right: -10px;
  content: "\2B24";
  font-size: 1rem;
  bottom: -32px;
  color: #337ab7;
  line-height: 0;
  text-shadow: none;
}

@media (max-width: 767px) {
  /* line 48, C:/Users/Gary/Google Drive/Development/Websites/FloridaShiduch/FloridaShiduch/Content/Sass/site/progress-tracker.scss */
  .progress-meter-container ol.progress-meter li:before {
    right: -7.5px;
    bottom: -34px;
  }
}

/* line 66, C:/Users/Gary/Google Drive/Development/Websites/FloridaShiduch/FloridaShiduch/Content/Sass/site/progress-tracker.scss */
.progress-meter-container ol.progress-meter li.active {
  color: #5bc0de;
  border-bottom-color: #5bc0de;
}

/* line 70, C:/Users/Gary/Google Drive/Development/Websites/FloridaShiduch/FloridaShiduch/Content/Sass/site/progress-tracker.scss */
.progress-meter-container ol.progress-meter li.active.done {
  color: #5bc0de;
}

/* line 74, C:/Users/Gary/Google Drive/Development/Websites/FloridaShiduch/FloridaShiduch/Content/Sass/site/progress-tracker.scss */
.progress-meter-container ol.progress-meter li.active:before {
  color: #5bc0de;
}

/* line 79, C:/Users/Gary/Google Drive/Development/Websites/FloridaShiduch/FloridaShiduch/Content/Sass/site/progress-tracker.scss */
.progress-meter-container ol.progress-meter li.incomplete {
  color: #d9534f;
  border-bottom-color: #d9534f;
}

/* line 83, C:/Users/Gary/Google Drive/Development/Websites/FloridaShiduch/FloridaShiduch/Content/Sass/site/progress-tracker.scss */
.progress-meter-container ol.progress-meter li.incomplete.active {
  color: #f0ad4e;
  border-bottom-color: #f0ad4e;
}

/* line 88, C:/Users/Gary/Google Drive/Development/Websites/FloridaShiduch/FloridaShiduch/Content/Sass/site/progress-tracker.scss */
.progress-meter-container ol.progress-meter li.incomplete:before {
  color: #d9534f;
}

/* line 93, C:/Users/Gary/Google Drive/Development/Websites/FloridaShiduch/FloridaShiduch/Content/Sass/site/progress-tracker.scss */
.progress-meter-container ol.progress-meter li.done {
  color: black;
  border-bottom-color: yellowgreen;
}

/* line 97, C:/Users/Gary/Google Drive/Development/Websites/FloridaShiduch/FloridaShiduch/Content/Sass/site/progress-tracker.scss */
.progress-meter-container ol.progress-meter li.done:before {
  content: "\2713";
  height: 19px;
  width: 19px;
  bottom: -24px;
  border: none;
  border-radius: 19px;
  color: white;
  background-color: yellowgreen;
  line-height: 21.85px;
}

/*# sourceMappingURL=progress-tracker.css.map */