@import "../bootstrap/bootstrap/variables";
@import "variables";

.main-content {
    // height: 71vh;
}

div#content {
    @include breakpoint($break-small) {
        padding-top: 107px;
    }
}

section {
    //height: inherit;
    #apply-regions,
    > div {
        height: inherit;
    }
}

.stripe {
    background-color: $well-bg;
    text-align: center;
    position: relative;

    > div {
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
    }

    &.stripe-dark {
        background-color: darken($well-bg, 5%);
    }

    &.stripe-sm {
        height: $section-size-sm;
    }

    &.stripe-md {
        height: $section-size-md;
    }

    &.stripe-lg {
        height: $section-size-lg;

        @include breakpoint($break-medium) {
            height: $section-size-xlg;
        }

        @include breakpoint($break-small) {
            height: $section-size-xlg;
        }
    }

    &.stripe-no-position {
        height: 100%;
        padding-top: 2rem;
        padding-bottom: 2rem;
        overflow: hidden;

        > div {
            position: relative;
            top: 0%;
            transform: translateY(0%);
        }
    }
}

/* SEPARATOR*/
.separator-container {
    text-align: center;
    position: relative;
    margin-bottom: 3rem;

    .separator {
        color: #c5a47e;
        margin: 0 auto 1em;
        width: 11em;

        &.line-separator:before,
        &.line-separator:after {
            display: block;
            width: 50%;
            content: "";
            margin-top: 1rem;
            border: 1px solid $brand-warning;
        }

        &.line-separator:before {
            float: left;
        }

        &.line-separator:after {
            float: right;
        }
    }

    @include breakpoint($break-small) {
        .separator {
            margin: 0 auto 0.2em;

            &.line-separator:before,
            &.line-separator:after {
                margin-bottom: 0;
            }
        }
    }
}


/* BANNERS */

.icon {
    font-size: $font-size-jumbo;
    line-height: $font-size-jumbo;
    color: red;
    margin-bottom: 10px;
}


/*
    HOW
*/

#how {

    .separator {
        padding-bottom: 3rem;

        @include breakpoint($break-small) {
            margin-bottom: 0;
            padding-bottom: 0;
        }
    }

    .card {
        text-align: center;
        margin-top: 1rem;
    }

    h4 {
        display: inline-block;
        line-height: $font-size-h4;
        vertical-align: middle;
        margin-left: 10px;
    }

    .fa-long-arrow-right {
        font-size: $font-size-xlarge;
        margin-left: 20px;
        display: inline-block;
        vertical-align: middle;
    }

    .icon {
        display: inline-block;
        font-size: $font-size-xlarge;
        vertical-align: middle;
        float: none;
        margin: 0;
    }

    .col-md-2 {
        width: 14%;
    }

    .col-md-3 {
        width: 17%;
    }

    .col-md-1 {
        width: 12%;
    }
}


/*
    FAQ
*/

#faq {

    > div {
        padding-top: 2rem;
        height: 28rem;
    }
}


/*
    APPLY
*/

#apply {
    .progress-meter {
        display: none;
    }

    & .applying .progress-meter {
        display: inline-block;
    }

    #apply-regions {
        #apply-views {
            min-height: 40rem;

            > div {
                text-align: left;

                .component-title, .component-subtitle {
                    text-align: center;
                    margin-bottom: 2rem;

                    ~ .component-subtitle {
                        margin-top: -$font-size-h6;
                    }

                    > span {
                        text-align: center;
                        margin-bottom: 45px;
                    }

                    &.inline {
                        display: inline-block;
                    }
                }

                .component-title-container {
                    text-align: center;
                }
            }
        }

        .male, .female {
            display: none;
        }

        [class*="toggle-"] {
            display: none;
        }

        &.male .male,
        &.female .female,
        &.toggle-shul-other .toggle-shul-other,
        &.toggle-convert .toggle-convert,
        &.toggle-bt .toggle-bt,
        &.toggle-working .toggle-working,
        &.toggle-bachelors .toggle-bachelors,
        &.toggle-masters .toggle-masters,
        &.toggle-doctorate .toggle-doctorate,
        &.toggle-working .toggle-working,
        &.toggle-other-occupation .toggle-other-occupation,
        &.toggle-yeshiva .toggle-yeshiva,
        &.toggle-children .toggle-children,
        &.toggle-israel-study .toggle-israel-study {
            display: block;
        }
    }
}
