@import "../bootstrap/bootstrap/variables";
@import "variables";

.main-content {
    // height: 71vh;
}

section#content {
    //height: inherit;
    overflow-y: visible;
}

section {
    //height: inherit;
    #apply-regions,
    > div {
        height: inherit;
    }
}

.stripe {
    background-color: $well-bg;
    text-align: center;
    position: relative;

    > div {
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
    }

    &.stripe-dark {
        background-color: darken($well-bg, 5%);
    }

    &.stripe-sm {
        height: $section-size-sm;
    }

    &.stripe-md {
        height: $section-size-md;
    }

    &.stripe-lg {
        height: $section-size-lg;
    }

    &.stripe-no-position {
        height: 100%;

        > div {
            position: relative;
            top: 0%;
            transform: translateY(0%);
        }
    }
}

/* SEPARATOR*/
.separator-container {
    text-align: center;
    position: relative;
    margin-bottom: 3rem;

    .separator {
        color: #c5a47e;
        margin: 0 auto 1em;
        width: 11em;

        &.line-separator:before,
        &.line-separator:after {
            display: block;
            width: 50%;
            content: "";
            margin-top: 14px;
            border: 1px solid $brand-warning;
        }

        &.line-separator:before {
            float: left;
        }

        &.line-separator:after {
            float: right;
        }
    }
}


/* BANNERS */

.icon {
    font-size: $font-size-jumbo;
    line-height: $font-size-jumbo;
    color: red;
    margin-bottom: 10px;
}


/*
    HOW
*/

#how {

    .separator {
        padding-bottom: 3rem;
    }

    .card {
        text-align: center;
        margin-top: 1rem;
    }

    h4 {
        display: inline-block;
        line-height: $font-size-h4;
        vertical-align: middle;
        margin-left: 10px;
    }

    .fa-long-arrow-right {
        font-size: $font-size-xlarge;
        margin-left: 20px;
        display: inline-block;
        vertical-align: middle;
    }

    .icon {
        display: inline-block;
        font-size: $font-size-xlarge;
        vertical-align: middle;
        float: none;
        margin: 0;
    }

    .col-md-2 {
        width: 14%;
    }

    .col-md-3 {
        width: 17%;
    }

    .col-md-1 {
        width: 12%;
    }
}


/*
    FAQ
*/

#faq {

    > div {
        padding-top: 2rem;
        height: 28rem;
    }
}


/*
    APPLY
*/

#apply {
    .progress-meter {
        display:none;
    }

    .applying & .progress-meter {
        display:block;
    }
}